<h2>自分のツイート</h2>
<p><%= notice %></p>
<table>
<% @websites.each do |website| %>
  <tr>
    <td><%= website.content %></td>
    <td><%= link_to '詳細', website_path(website.id) %></td>
    <td><%= link_to '編集', edit_website_path(website.id) %></td>
    <td><%= link_to '削除', website_path(website.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しいツイートをする', new_website_path %>
