<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter</title>
  </head>
  <body>
    <header class="header">
      <%= image_tag 'Tweet_bird.png',class: 'home' %>
      <nav>
        <ul class="top_menu clearfix">
          <%= link_to new_website_path do %>
          <li><%= image_tag 'Tweet_bottom.png',class: 't_bottom_image' %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <h2>自分のツイート</h2>
    <p><%= notice %></p>
    <% @websites.each do |website| %>
    <table>
      <tr>
        <td><%= website.content %></td>
      </tr>
      <td><%= website.created_at %></td>
      <td><%= link_to image_tag('show.png', class:'show_image'),website_path(website.id) %></td>
      <td><%= link_to image_tag('edit.png', class: 'edit_image'), edit_website_path(website.id) %></td>
      <td><%= link_to image_tag('trash.png', class: 'trash_image'), website_path(website.id), method: :delete ,data:{ confirm: '本当に削除してもよろしいですか？'}%></td>
      <br>
    </table>
    <% end %>
    <aside class="side_menu">
    </aside>
    <article class="content">
    </article>
    <footer class="footer">
      <a> © 2019 Twitter, Inc.</a>
    </footer>
  </body>
</html>
